@charset "utf-8";
/* CSS Document */
body {
  background-color: #f8f7f6;
}

.button1{
	color:#3F3823;
	border: beige;
	background: none;
	border-radius: 13px;
	font-size: 17px;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}

.button1:hover{
	color : antiquewhite;
}

.button2{
	color:#3F3823;
	border: beige;
	background: #F3F3D8;
	border-radius: 13px;
	font-size: 16px;
}


.button2:hover{
	color:#FEF6ED;
	border: #FFFFFF;
	background:#58402C;
}

.webnav{
	margin-top: 50px;
    width: 350px;
    float: left;
    margin-left: 270px;
	display: inline-block;
	position: absolute;
	right: 1%;
	transition: 0.2s ease;
    cursor: pointer;
	color: beige;
	
}

.title_text{
    color:#986c4a;
    font-size: 5.5em;
    font-weight:600;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace"
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #a17d60;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: darkgoldenrod ;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f4eee3;
  padding: 40px;
}

.footer{
    background: #a17d60;
    padding:1em;
    color:white;
}
